html,
body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  color: #333;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.4;
  height: 100%;
  position: relative;
  text-rendering: optimizeLegibility;
  z-index: -1;
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  box-sizing: initial;
  -webkit-font-smoothing: inherit;
  align-items: initial;
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  outline: none;
  cursor: pointer;
}
h2:hover{
  text-decoration: underline;;
}
ul {
  list-style-type: none;
}